.container-password {
  margin-top: 1.5rem;
}

.back-button {
  display: flex;
  color: rgb(92, 111, 138);
  font-size: 16px;
  font-weight: 500;
  padding: 1rem 1.5rem;
  padding-left: 0;
  background: none;
  border: none;
  cursor: pointer;
}

.back-icon {
  margin-right: 8px;
  height: 1.6rem;
  width: 1.6rem;
  font-size: 2.9rem;
  color: rgb(92, 111, 138);
}

.passkey-icon-container {
  display: inline-flex;
  align-self: flex-start;
  padding: 8px;
  border-radius: 8px;
  background-color: rgb(231, 247, 255);
  color: rgb(63, 166, 240);
}

.passkey-icon {
  width: 2rem;
  height: 2rem;
}
.button-container {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-top: 24px;
}

.button-passkey-password {
  display: flex;
  flex-direction: column;
  padding: 0px;
  position: relative;
  overflow: hidden;
  box-sizing: border-box;
  border-radius: 8px;
  border: 1px solid rgb(148, 163, 184);
}

.button-container button {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 8px;
  padding: 16px 48px 16px 16px;
  cursor: pointer;
}

.button span {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;

  font-style: normal;
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 2rem;
  color: rgb(92, 111, 138);
}

.arrow-icon {
  position: absolute;
  right: 2.4rem;
  color: rgb(148, 163, 184);
  font-size: 2.9rem;
}

.forgot-password {
  background: none;
  border: none;
  color: #3b82f6;
  margin-top: 16px;
  align-self: center;
  cursor: pointer;
  font-size: 14px;
}

.forgot-password-container {
  width: 100%;
  text-align: center;
  font-size: 12px;
  color: rgb(92, 111, 138);
  font-weight: 300;
  margin-top: 16px;
}

.forgot-password-container a {
  color: rgb(110, 130, 158);
  margin-left: 3px;
  text-decoration: none;
  font-weight: 500;
}
