
.back-button {
  display: flex;
  color: rgb(92, 111, 138);
  font-size: 16px;
  font-weight: 500;
  padding: 0 1.5rem;
  padding-left: 0;
  background: none;
  border: none;
  cursor: pointer;
  justify-content: flex-start;
}

.back-icon {
  margin-right: 8px;
  height: 1.6rem;
  width: 1.6rem;
  font-size: 2.9rem;
  color: rgb(92, 111, 138);
}

.passkey-icon-container {
  display: inline-flex;
  align-self: flex-start;
  padding: 8px;
  border-radius: 8px;
  background-color: rgb(231, 247, 255);
  color: rgb(63, 166, 240);
}

.passkey-icon {
  width: 2rem;
  height: 2rem;
}
.button-container {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-top: 1rem;
}

.button-passkey-password {
  display: flex;
  flex-direction: column;
  padding: 0px;
  position: relative;
  overflow: hidden;
  box-sizing: border-box;
  border-radius: 8px;
  border: 1px solid rgb(148, 163, 184);
}

.button-container .button {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 8px;
  padding: 16px 48px 16px 16px;
  cursor: pointer;
}

.button span {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;

  font-style: normal;
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 2rem;
  color: rgb(92, 111, 138);
}

.arrow-icon {
  position: absolute;
  right: 2.4rem;
  color: rgb(148, 163, 184);
  font-size: 2.9rem;
  transition: all 0.3s ease-in-out 0s;
}

.arrow-icon.rotate {
  transform: rotate(90deg);
}

.forgot-password {
  background: none;
  border: none;
  color: #3b82f6;
  margin-top: 16px;
  align-self: center;
  cursor: pointer;
  font-size: 14px;
}

.forgot-password-container {
  width: 100%;
  text-align: center;
  font-size: 12px;
  color: rgb(92, 111, 138);
  font-weight: 300;
  margin-top: 16px;
}

.forgot-password-container a {
  color: rgb(110, 130, 158);
  margin-left: 3px;
  text-decoration: none;
  font-weight: 500;
}

.signin-form-password input {
  width: 100%;
  height: 4rem;
  padding: 8px 16px;
  width: 100%;
  text-align: left;
  box-sizing: border-box;
  color: rgb(92, 111, 138);
  font-weight: 400;
  font-size: 1.4rem;
  border-radius: 4px;
  border: 1px solid rgb(92, 111, 138);
  outline: none;
}
.signin-form-otp input {
  height: 4rem;
  box-sizing: border-box;
  color: rgb(92, 111, 138);
  font-weight: 400;
  font-size: 1.4rem;
  border-radius: 4px;
  border: 1px solid rgb(92, 111, 138);
  outline: none;
}

.signin-form-password button,
.signin-form-otp button {
  color: rgb(255, 255, 255);
  background-color: rgb(63, 166, 240);
  border-color: rgb(63, 166, 240);
  padding: 10px 15px;
  border-radius: 4px;
  border-style: solid;
  border-width: 1px;
  cursor: pointer;
  font-size: 14px;
  font-weight: 500;
  white-space: nowrap;
  width: 100%;
}

.signin-form-password,
.signin-form-otp {
  margin-top: 1.6rem;
  padding: 0px 1.6rem 1.6rem;
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
  overflow: hidden;
  height: 0;
  opacity: 0;
  transition: height 0.7s ease, margin 0.7s linear, opacity 0.7s ease-in-out;
}

.signin-form-password.show,
.signin-form-otp.show {
  height: auto;
  opacity: 1;
  animation: 0.7s ease-in-out 0s 1 normal none running fResfi;
}

.button-passkey-password:hover {
  border-color: #000000;
}

@keyframes fResfi {
  0% {
    transform: translateY(-20px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

.forgot-password:hover {
  text-decoration: underline;
}


.modal-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5); 
  z-index: 9998;
}


.modal-dialog-centered {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 9999;
  width: 90%;   
  max-width: 50rem;
  background-color: white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  border-radius: 8px;
  height: 40rem; 
  padding: 1.5rem; 
  overflow: hidden; 
  
}

.modal-dialog-centered .modal-content .modal-body {
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
  height: 100%;
  overflow: hidden;
  align-items: center;
  justify-content: center;
}

.modal-dialog-centered .btn {
  font-size: 1.2rem;
  font-weight: 500;
  white-space: nowrap;
  cursor: pointer;
}


.modal-dialog-centered .btn-link {
  color: #3b82f6;
  cursor: pointer;
}
